h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin-bottom: 0;
}

a{
    color: white;
    font-weight: 600;
}

div.portion img{
    width: 41%;
    padding: 0% 1%;
    object-fit: contain;
    padding: 0% calc( 1vw + 1vh ) 0% 0%;
}

#logo-portion img{
    padding: 0% 2%;
}

div.portion{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 95%;
    padding: 1% 2.5%;
}

div.portion-text{
    width: 100%; /* CSS decides to reduces the width for no reason unless i put this */
}

div.portion-text h1{
    font-family:"Poppins", sans-serif;
}

div#logo-portion h1{
    filter: drop-shadow(4px 4px 1px #0008);
    font-family:"Unbounded", sans-serif;
}

div.portion:nth-child(even){
    background-color:white;
    color:black;
    clip-path: polygon(0% 4vh, 100% 0%, 100% calc(100% - 4vh), 0% 100%);
    padding-top:2vh;
    padding-bottom: 6vh;
    text-align:right;
    flex-direction: row-reverse;
}

div.portion:nth-child(even):last-child{
    clip-path: polygon(0% 4vh, 100% 0%, 100% 100%, 0% 100%);
    padding-bottom: 6vh;
}

div.portion:nth-child(even) a{
    color:black;
}

div.portion:nth-child(odd){
    color:white;
    flex-direction: row;
}

@keyframes showIn {
    from{
        opacity:0;
        transform: translateY(-1vh);
    }
    to{
        opacity:1;
        transform: translateY(0vh);
    }
}

div#content, div#content *{
    animation: 1s showIn ease !important;
}

.bilist-wrapper, .bilist{
    display:grid;
}

.bilist{
    grid-template-columns: repeat(2, 1fr);
}

#blockmenu a{
    text-decoration: none;
    font-family: 'Unbounded', sans-serif;
    color: black;
    background: white;
    margin: 0.4vh 0.4vw;
    padding: 0.2vh 0.4vw;
    text-transform: uppercase;
    font-size: min(3vh, 3vw);
}

div.small-logo-text-container img{
    width:calc( min( 6vw + 6vh, 1.5in ) );
    padding-top: 0.6em;
}

div.small-logo-text-container{
    display:flex;
    margin-bottom: 1.2em;
}

div.logo-container-content p{
    margin-top: 0;
}

.button-anchor{
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 0.05em 0.3em 0.1em 0.3em;
    border-radius: 0.4em;
    white-space: nowrap;
}

div.logo-container-content:has(.button-anchor) p{
    padding-bottom:0.5vh;
}

#member-list img{
    height:calc( min( 4vw + 4vh, 1in ) );
    width:unset;
}

#member-list a{
    padding:0;
}

.logo-container-content{
    text-align: left;
}

@media (orientation: portrait){
    div.portion:nth-child(odd){
        flex-direction: column;
    }
    div.portion:nth-child(even){
        flex-direction: column-reverse;
    }
    div.portion img.logo-big{
        width: 96%;
        padding: 0% 2%;
        margin-bottom:2vh;
        object-fit: contain;
    }
    .bilist{
        grid-template-columns: repeat(1, 1fr);
    }
    #blockmenu a{
        font-size: min(6vh, 6vw);
    }
    /* styles for vertical aspect ratio */
}